
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_empLayout.cshtml";
}

@if (TempData["msg"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["msg"]
    </div>
}
<h2>Index</h2>

