@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">
            We need a system that will help us to automate and track our works. We are an NGO who works for feeding deprived people and children. We have observed that, people are wasting a ton of food every day in Dhaka city (like office programs, buffets etc etc). We are on a mission to make the usage of this foods. We have contacted with some restaurants, and they agreed to give us those foods before it gets rotten, or they will preserve those foods till we collect from them. We have some employees and still enrolling.
        </p>
    </section>
</main>